@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Odibee+Sans&family=Squada+One&display=swap');
:root {
	--background: #101013;
	--card-bg: #0F0D0D;
	--card-color: #dcdcdc54;
	--bot-color: #f13232;
	--player-color: #32f14b;
	--table-color: #EEEEEE;
	--counter-color: #367436;
	--modal-bg: white;
}

@media (max-width: 770px){
	.overlay {
		display: block !important;
	}
	.alert{
		display: flex !important;
	}

}


body,
html {
	background: var(--background);
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	user-select: none;
	font-family: "Montserrat";
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.overlay {
	display: none;
	position: fixed;
	background: #000000c9;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.overlay.show {
    display: block;
}

.alert {
	background: white;
	position: fixed;
	z-index: 1000;
	padding: 4rem 2rem;
	margin: 0 3rem;
	display: none;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-radius: 2rem;
	text-align: center;
}

.reshuffle {
	transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	background: #1a1a18;
	padding: 1rem;
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 1rem;
}

.reshuffle::after {
	transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	content: 'reshuffle your cards';
	position: absolute;
	top: -5rem;
	background: #1b191991;
	color: #32f14b;
	opacity: 0;
	padding: 1rem;
	border-radius: 5px;
	width: 100px;
}

.reshuffle:hover.reshuffle::after {
	opacity: 1;
}

.reshuffle:hover .reshuffle-icon path{
	stroke: #32f14b !important;
}



.reshuffle.used {
	transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform: scale(0);
	opacity: 0;
}

/* log scrollbar */
.log::-webkit-scrollbar {
	background: #141212;
}

.log::-webkit-scrollbar-thumb {
	background: #292926;
	border-radius: 4px;
}

.log {
	opacity: 0.8;
    width: 300px;
    height: 100px;
    background-color: #0F0D0D;
    color: white;
    padding: 1rem 0 1rem 2rem;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 15px;
	font-weight: bold;
}

.log::after{
	content: '';
    position: fixed;
    top: 0; 
	right: 0;
    width: 332px;
    height: 20px;
    background: linear-gradient(to bottom, #0000009d, transparent) ;
}

.about {
	transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	background: #1a1a18;
	position: absolute;
	z-index: 20;
	bottom: 2rem;
	right: 2rem;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	border-radius: 50%;
	color: white;
	box-shadow: 0 0 20px #00000073;
	cursor: pointer;
}

.about:hover {
	color: #2137ff;
}

.about-buttons {
	transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	position: absolute;
	font-size: 1rem;
	top: -10rem;
	right: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	transform-origin: bottom right;
	transform: scale(0);
	color: white;
	opacity: 0;
}

.about-buttons > div {
	transition: 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	background: #161615;
	padding: 10px 20px;
	margin: 1rem 0;
	width: 60px;
	border-radius: 4px;
	font-weight: 600;
}

.about-buttons > div:hover {
	background: #1a1a18;
	color: #2137ff;
}

.about.active.about{
	color: #2137ff;
}

.about.active > .about-buttons{
	opacity: 1;
	transform: scale(1);
	top: -10rem;
	right: 3rem;
	color: white;
}

 /* Modals */
 .modal {
	user-select: text;
	display: none;
	position: absolute;
	z-index: 1001;
	background: var(--modal-bg);
	padding: 3rem;
	border-radius: 1rem;
	max-height: 500px;
	overflow-y: scroll;
 }
 
/* modal scrollbar */
.modal::-webkit-scrollbar {
	display: none;
}

.about-modal::-webkit-scrollbar-thumb {
	background: #5a5a5a;
	border-radius: 2rem;
}

.about-modal.active, .report-bug-modal.active {
	display: block;
}

.modal img {
	max-width: 350px;
}

.modal a {
	color: #6335cf;
	font-weight: 600;
}


textarea {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	outline: none;
	resize: none;
	width: 90%;
	background: #ebebeb;
	border: none;
	padding: 1rem;
	margin-top: 1rem;
	border-radius: 8px;
}

textarea[name="logs"] {
	display: none;
}

.log-checkbox {
	cursor: pointer;
	appearance: none;
	background: #ffff;
	margin: auto 0;
	margin-top: 2rem;
	margin-right: 8px;
	padding: 6px;
	border-radius: 50%;
	box-shadow: 
		0 0 0 2px rgb(255, 255, 255),
		0 0 0 4px rgb(64, 74, 204);
	;
}

.log-checkbox:checked {
	background: #2427cc;
	padding: 6px;
	box-shadow: 
		0 0 0 2px rgb(255, 255, 255),
		0 0 0 4px rgb(64, 74, 204);
	;
}

.btn {
	cursor: pointer;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	border-radius: 8px;
}


.btns {
	display: flex;
	flex-direction: row;
	align-items: center;
		margin-top: 2rem;
}

.report-bug-btn {
	color: white;
	width: 80px;
	background: #2137ffda;
}
.report-bug-btn:hover {
	background: #2137ff;
}

.nevermind-bug-btn {
	margin-right: 1rem;
	color: white;
	width: 80px;
	background: #8d97f8;
}

.nevermind-bug-btn:hover {
	background: #6a74cc;
}

.username-modal {
	position: absolute;
	background: var(--modal-bg);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	z-index: 1000;
}

.username-modal.active {
	display: none;
}

.username-field {
	background: rgba(114, 114, 114, 0.301);
	outline: none ;
	width: 250px;
	height: 50px;
	padding: 5px 20px;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1rem;
	border-radius: 7px;
}

.max-chars {
	color: #10101380;
	font-weight: 500;
}

.username-btn {
	cursor: pointer;
	background-color: #f13232;
	padding: 15px 1rem;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	color: white;
	border-radius: 7px;
	margin-top: 3rem;
}
.container {
	background-color: var(--table-color);
	width: 80%;
	height: 300px;
	max-width: 600px;
	position: relative;
	position: absolute;
	top: 15%;
	display: flex;
	justify-content: center;
	border-radius: 1rem;
	scale: 0.85;
}

.total {
	font-family: 'Squada One', Impact;
	align-self: center;
	color: #b4b4b4;
	font-size: 4rem;
	font-weight: 800;
	margin-bottom: -3rem;
}

.bot,
.player {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border-radius: 50%;
	color: white;
	width: 20px;
	height: 20px;
}

.player {
	transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	bottom: -5rem;
	background: var(--player-color);
    transform: rotate(180deg);
	width: 40px;
	height: 40px;
	padding: 10px;
}

.player.is-turn, .player.is-turn {
	transform: scale(1.3) rotate(0deg);
	font-weight: 500;

}
.bot {
	transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	background: var(--bot-color);
}

/* 'turn' - indicates a turn */
.bot::after {
	transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	content: "";
	display: none;
	opacity: 0;
	border: solid 5px white;
	padding: 0.8rem;
	background: #4433e0;
	position: absolute;
	top: -1.5rem;
	border-radius: 50%;
}


/* if its the bot's turn */
.bot.is-turn.bot::after {
	display: block;
	opacity: 1;
}

.bot-stats {
	transition: 400ms cubic-bezier(0.215, 0.610, 0.355, 1);
	width: 150px;
	height: 70px;
	background: white;
	color: #0F0D0D;
	position: absolute;
	z-index: 20;
	display: none;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	border-radius: 2rem;
	box-shadow: 0 0 20px #10101371;
	user-select: text;
	font-weight: 500;
}

.bot:hover .bot-stats {
	display: flex;
	cursor: text;
}

.one:hover .bot-stats {
	transform: rotate(90deg);
	bottom: 1.5rem;
}

.three:hover .bot-stats{
	transform: rotate(-90deg);
	bottom: 1.5rem;
}


/* positioning the bots */
.one,
.three {
	align-self: center;
}

.one {
	left: -4rem;
    transform: rotate(-90deg);
}

.two {
	top: -5rem;
}

.three {
	right: -4rem;
    transform: rotate(90deg);
}

.cards-thrown {
	transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	font-family: 'Squada One', 'Montserrat', Impact;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bot-one-thrown {
	left: 0;
	align-self: center;
	transform: rotate(90deg);
}

.bot-two-thrown {
	position: absolute;
	transform: rotate(180deg);
	top: 2rem;
}

.bot-three-thrown {
	right: 0;
	align-self: center;
	transform: rotate(-90deg);
}

.bot-one-thrown span, .bot-two-thrown span, .bot-three-thrown span {
	width: 30px;
	height: 50px;
	border: solid 3px var(--bot-color);
	background: var(--background);
	color: white;
	box-shadow: inset 0 0 20px #0000004d;
	margin: 0 5px;
	display: flex;
	align-items:center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 900;
	box-sizing: border-box;
	border-radius: 5px;
}

/* The cards */
.cards {
	transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: -4rem;
	border: solid 4px var(--table-color);
	border-radius: 1rem;
	padding-top: 1rem;
	width: 800px;
	height: 200px;
}

.card {
	font-family: 'Squada One', Impact;
	transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	border: solid 2px transparent;
	box-sizing: border-box;
	background-color: var(--card-bg);
	color: var(--card-color);
	width: 130px;
	height: 180px;
	margin: 0 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-weight: 800;
	font-size: 4rem;
	border-radius: 4px;

}

.card::after {
	font-family: 'Squada One', Impact;
	transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	content: "Throw";
	border: solid 4px transparent;
	position: absolute;
	top: -5rem;
	padding: 5px 10px;
	border-radius: 2rem;
	font-size: 1rem;
	text-transform: uppercase;
	background: transparent;
	color: transparent;
}

.cards > .card:hover {
	color:  #DCDCDC;
	border: solid 3px #DCDCDC;
	margin-top: -100px;
}

.cards > .card:hover.card::after {
	color: black;
	background: #dfd21c;
	top: -3rem;
	border: solid 4px #DCDCDC;
}

.cards.hideCards {
	bottom: -15rem;
	padding-top: 5rem;
	opacity: 0.3;
	cursor: not-allowed;
}

.cards.hideCards > .card::after {
	margin-top: 10rem;
}
